.about-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100%; */
    height: 50vh;
}



.experience-section {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* overflow: scroll; */
    /* height: 100vh; */
}

.exp-card {
    width: 18rem;
    border-radius: 30px;
    background: var(--default-card-bg);
    color: var(--card-font-color);
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

@media (width <=1000px) {



    .about-container {
        font-size: 1.2rem;
        /* height: 75vh; */
    }

    .about-container>.section {
        display: none;
    }
}