.form-container {
    margin: 1rem;
    min-width: 32rem;
    background-color: #fff;
    padding: 1rem;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    justify-content: center;
    margin: 1.5rem;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .form-group input {
    width: 100%;
    padding: 0.4rem;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 0.4rem;
    margin-top: 0.2rem;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}



.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group textarea::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #212121;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #212121;
}

.form-container .form-submit-btn {
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}


@media (width < 660px) {

    .form-container {
        min-width: 15rem;
    }

    .left-arrow {
        display: block !important;
    }
}